.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  margin-left: 10px;
}

.search-input {
  padding: 10px 16px;
  font-size: 25px;
  border: 2px solid #ccc;
  width: 80%;
}

.search-icon-wrapper {
  position: relative;
  right: 40px;
  top: 50%;
  cursor: pointer;
}

.search-icon {
  font-size: 25px;
  color: #333;
}